* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.well {
    align-items: center;
    justify-content: center;
    width: 500px;
    border: 2px solid black;
    padding: 10px;
}