.divProduits {
    height: 200px;
    width: 300px;
    margin:3%;
    flex-wrap: wrap;
    border: solid rgb(0, 0, 0) 1.5px;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;
}
.articleProduct{
    width: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
}

.card:hover{
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-image:rgb(0, 0, 0)
      
}

.meilleureOffre4{
    color: gray;
}

.img{
    width: 220px;
    height: 220px;
    border-radius: 9px;
}

.text{
    width: 220px;
    height: 150px;
    padding: 2%;
}
.produits{
    margin: 2%;
    text-decoration: none;
    color: black;
    border: 0.5px solid rgba(0, 0, 0, 0.397);
    border-radius: 9px;
}

.produits:hover{
    opacity: 80%;
    color : black;
}